<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="table.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <div class="container">
        <div class="ut-title">Edit Stores</div>
        <table id="users">
            <tr>
                <th>StoreID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Store Owner</th>
                <th>Delete</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>001</td>
                <td><a href="" target="_blank">Store1</a></td>
                <td>Food</td>
                <td>-</td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a></td>
                <td class="normal"><i class="fas fa-circle"></i> Normal</td>
            </tr>
            <tr>
                <td>002</td>
                <td><a href="" target="_blank">Store2 Asodcmsdc</a></td>
                <td>Food</td>
                <td>-</td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a></td>
                <td class="normal"><i class="fas fa-circle"></i> Normal</td>
            </tr>
            <tr>
                <td>003</td>
                <td><a href="" target="_blank">Soedcmkl sdcsm</a></td>
                <td>Cafe</td>
                <td><a href="" target="_blank" class="owner">John Doe</a></td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a></td>
                <td class="normal"><i class="fas fa-circle"></i> Normal</td>
            </tr>
            <tr>
                <td>004</td>
                <td><a href="" target="_blank">7-11</a></td>
                <td>Convenience Store</td>
                <td>-</td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a><a href="" class="wait"><i class="fas fa-clipboard-check"></i> View reports</a></td>
                <td class="wait"><i class="fas fa-circle"></i> Wait for respond</td>
            </tr>
            <tr>
                <td>005</td>
                <td><a href="" target="_blank">แอนข้าวมันไก่</a></td>
                <td>Food</td>
                <td>-</td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a></td>
                <td class="normal"><i class="fas fa-circle"></i> Normal</td>
            </tr>
            <tr>
                <td>006</td>
                <td><a href="" target="_blank">ไก่ว้าว</a></td>
                <td>Stall</td>
                <td>-</td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a></td>
                <td class="normal"><i class="fas fa-circle"></i> Normal</td>
            </tr>
        </table>
    </div>
</body>
</html>