<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="table.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <div class="container">
        <div class="ut-title">Edit Users</div>
        <table id="users">
            <tr>
                <th>UserID</th>
                <th>Username</th>
                <th>Type</th>
                <th>Own store</th>
                <th>Delete/Edit</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>001</td>
                <td>Konthon</td>
                <td>Admin</td>
                <td>-</td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a></td>
                <td class="fullaccess"><i class="fas fa-circle"></i> Full Access</td>
            </tr>
            <tr>
                <td>002</td>
                <td>Jame</td>
                <td>User</td>
                <td>-</td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a></td>
                <td class="normal"><i class="fas fa-circle"></i> Normal</td>
            </tr>
            <tr>
                <td>003</td>
                <td>Jane Doe</td>
                <td>Store owner</td>
                <td><a href="" target="_blank" class="store">Store1</a><a href="" target="_blank" class="store">Store2</a></td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a></td>
                <td class="normal"><i class="fas fa-circle"></i> Normal</td>
            </tr>
            <tr>
                <td>004</td>
                <td>John Doe</td>
                <td>User</td>
                <td>-</td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a><a href="" class="wait"><i class="fas fa-check-circle"></i> Approve</a></td>
                <td class="wait"><i class="fas fa-circle"></i> Wait for approval</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Ann</td>
                <td>User</td>
                <td>-</td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a></td>
                <td class="normal"><i class="fas fa-circle"></i> Normal</td>
            </tr>
            <tr>
                <td>006</td>
                <td>user@mail.com</td>
                <td>User</td>
                <td>-</td>
                <td><a href="" class="delete"><i class="fas fa-trash-alt"></i> Delete</a></td>
                <td class="normal"><i class="fas fa-circle"></i> Normal</td>
            </tr>
        </table>
    </div>
</body>
</html>